*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    
}
.main
{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color:rgb(27, 21, 49);
    height: 20vh;
}
.heading{
    color: white;
    font-size: 3em;
    display: flex;
    padding-top: 1em;
    justify-content: center;
    align-items: center;
}